*{
    font-family: sans-serif;
}
body{
    margin: 0;
}
.head1{
    width: 100%;
    height: 40px;
    background-color: rgb(228, 222, 222);
    display: flex;
    justify-content: space-between;
}
.head1L{
    width: 10%;
    height: 40px;
}
.logo1{
    padding-left: 45px;
    width: 25px;
    padding-top: 8px;
}
.head1R{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
}
.head2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.head2L{
    width: 20%;
    height: 50px; 
}
.logo2{
    padding-left: 45px;
    width: 60px;
    padding-top: 10px;
}   
.head2M{
    width: 30%;
    height: 50px; 
    display: flex;
    justify-content: space-evenly; 
}
.head2R{
    width: 20%;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    position: relative;
}
.head2R>input
{   
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.282);
}
#searchicon{
    position: absolute;
    left: 2.3rem;
}
.head3{
    width: 100%;
    height: 50px;
    background-color: rgb(228, 222, 222);
}
.mainimg{
    width: 94%;
    height: 100%;
    margin-left: 3%;  
    margin-right: 3%;
}
.video{
    width: 48%;
    height: 100%;
    margin-left: 26%;  
    margin-right: 26%;
}
.text1{
    width: 100%;
    height: 250px;
    text-align: center;
}
.text1 button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.text1 h1{
    font-weight: 500;
}
.text2{
    width: 97%;
    height: 50px;
    margin-left: 3%;
    font-size: 24px;
    font-weight: 500;
}
.text2L{
    width: 20%;
    height: 50px;
    margin-left: 3%;
    font-size: 24px;
    font-weight: 500;   
}
.text2R{
    width: 13%;
    height: 50px;
    margin-right: 3%;
    font-size: 24px;
    font-weight: 500;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text2R button{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}
.multiple{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 500px;
}
.img{
    width: 33%;
}
.imgdesc{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100px;
    display: flex;
}
.desc{
    width: 33%;
    display: flex;
}
.descL{
    margin-left: 5%;
    width: 80%;
}
.descR{
    width: 20%;
    margin-left: 25%;
}
.footer2{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    color: gray;
}
.sections{
    width: 30%;
}
.footer1{
    width: 100%;
    height: 250px;
    background-color: black;
    font-size: small;
    color: gray;
    display: flex;
    justify-content: space-between;
}
.fl{
    padding-top: 20px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 6%;
    margin-right: 6%;
}
.footer_icons{
    width: 150px;
    margin-right: 100px;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    font-size: small;
    color: gray;
}
.fl1{
    width: 65%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 6%;
}
.fr1{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h4{
    color: white;
}
.h3{
    color: black;
}

